<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataPPT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA175D3F1BF311F0009F0ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA175D581BF311F1009F0ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA175D631BF311F1009F0ECB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
